{% extends "layouts/base.njk" %}

{% block content %}
<main class="wrapper  prose flow">
	<h1>{{ title }}</h1>
	<time>{{ date | postDate }}</time>
	{{ content | safe }}
</main>
<nav class="wrapper">
	<a href="/">back</a>
</nav>
{% endblock %}
