.home-header {
	margin-bottom: var(--space-m-l);
}
.home-header .icon {
	margin-bottom: var(--space-xs-s);
}
.home-header h1 {
	margin-bottom: var(--space-3xs);
}
.home-header .desc {
	color: var(--color-text-subtle);
	font-style: italic;
}
