/*
  Global styles

  Low-specificity, global styles that apply to the whole
  project: https://cube.fyi/css.html
*/
:root,
:root[data-theme='light'] {
	--color-text: var(--color-ink);
	--color-bg: var(--color-paper);
	--color-text-subtle: var(--color-base-600);
}

body {
	background: var(--color-bg);
	color: var(--color-text);
	font-size: var(--size-step-0);
	font-family: var(--font-base);
	line-height: var(--leading-standard);
}

h1 {
	font-size: var(--size-step-0);
	font-weight: normal;
}

a {
	color: var(--color-text);
}
