/*
  Global styles

  Low-specificity, global styles that apply to the whole
  project: https://cube.fyi/css.html
*/
:root {
	color-scheme: light dark;
	--color-bg: light-dark(var(--color-paper), var(--color-base-900));
	--color-text: light-dark(var(--color-ink), var(--color-base-050));
	--color-text-subtle: light-dark(var(--color-base-600), var(--color-base-300));
}

body {
	background: var(--color-bg);
	color: var(--color-text);
	font-size: var(--size-step-0);
	font-family: var(--font-base);
	line-height: var(--leading-standard);
}

h1 {
	font-size: var(--size-step-0);
	font-weight: normal;
}

a {
	color: var(--color-text);
}

::selection {
	background: #4990e825;
}
