<article class="home-header">
	<p class="icon" aria-hidden="true">✿</p>
	<h1>documents from <a href="kiki.directory">/kiki-chang/</a></h1>
	<p class="desc">Sometimes I can't fit all my thoughts into my head.<br>When I can't, I try to leave them here.</p>
</article>

{% css "local" %}
{% include "css/home-header.css" %}
{% endcss %}
