<ul class="post-list">
	{%- for post in collections.post | reverse -%}
	{% if not post.data.draft %}
	<li>
		<a href="/writings/{{post.data.title | slugify}}">
			{{ post.data.title }}
		</a>
	</li>
	{% endif %}
	{%- endfor -%}
</ul>
